@import "../App/App";

.counter {
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__value {
    font-size: 78px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    font-family: "Courier New", Courier, monospace;
  }

  &__textbox {
    font-size: 32px;
    padding: 2px;
    width: 64px;
    text-align: center;
    margin-right: 8px;
  }

  &__btn {
    @extend %btn-styles;

    &_async {
      @extend %btn-styles;

      position: relative;
      margin-left: 8px;

      &::after {
        content: "";
        background-color: rgba(112 76 182 / 15%);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: width 1s linear, opacity 0.5s ease 1s;
      }

      &:active::after {
        width: 0%;
        opacity: 1;
        transition: 0s;
      }
    }
  }
}
