@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.app {
  text-align: center;

  &__logo {
    height: 40vmin;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: float infinite 3s ease-in-out;
    }
  }
}

.home {
  &__nav {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  &__nav-link,
  %btn-styles {
    appearance: none;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: rgb(112 76 182);
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112 76 182 / 10%);
    border-radius: 2px;
    transition: all 0.15s;
    text-decoration: none;

    &:hover,
    &:focus {
      border: 2px solid rgba(112 76 182 / 40%);
    }

    &:active {
      background-color: rgba(112 76 182 / 20%);
    }
  }
}
